.bd-example {
    height: 10vh; 
    
}

#about {
background-image:url("/assets/images/adult.jpg");
height: 650px; 
opacity:0.95;
background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
color:#ffffff;
text-align: left; padding: 202px;

}

#recomend {
background-color:#065A61;
background-image: linear-gradient(white,teal, white);
color:#fafafa;
height: 600px;
padding-top: 100px


}

.wheel{
height: 180px;

}


.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #3fb0ac;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #173e43;
}

#follow-negative-space{
  margin-top : 190px;
}

#icons-negative-space{
    margin-top: 30px
}

.button {
  background-color: #3fb0ac;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:hover {
    background-color: #173e43;
}

.button-readme {
  background-color: #3fb0ac;
  border-radius: 5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button-readme:hover {
    background-color: #173e43;
}